// Base
$black-500: #2a2a2a;
$black-400: #555;
$black-300: #bfbfbf;
$black-200: #eaeaea;
$black-100: #f4f4f4;
$white-500: #fff;
$white-400: rgba(255, 255, 255, 0.8);
$white-300: rgba(255, 255, 255, 0.3);
$white-200: rgba(255, 255, 255, 0.1);
$white-100: rgba(255, 255, 255, 0.05);

// Branding
$brand-500: #018abe;

$primarya-500: #018abe;
$primarya-400: #34a1cb;
$primarya-300: #b3dceb;
$primarya-200: #e6f3f8;
$primarya-100: #f2f9fc;

$primaryb-500: #ffc107;
$primaryb-300: #ffcd39;
$primaryb-300: #ffec35;
$primaryb-200: #fff9e6;
$primaryb-100: #fffcf3;

// Colors
$blue-500: #007aff;
$blue-400: #3395ff;
$blue-300: #b3d7ff;
$blue-200: #e5f2ff;
$blue-100: #f2f8ff;

$green-500: #00bc3c;
$green-400: #33c963;
$green-300: #b3ebc5;
$green-200: #e5f8eb;
$green-100: #f2fcf5;

$orange-500: #ff821e;
$orange-400: #ff94b4;
$orange-300: #ffdabb;
$orange-200: #fff3e8;
$orange-100: #fff9f4;

$red-500: #ea5455;
$red-400: #ee7677;
$red-300: #f9cccc;
$red-200: #fdeeee;
$red-100: #fef6f6;

$yellow-500: #FFC107;

// colors support
$background-light: #fff;
$background-dark: #f8f8f8;
$placeholder: #9aa7aa;
$disable: #e3e3e3;
$scrim: rgba(42, 42, 42, 0.25);
$skeleton: linear-gradient(bottom, #e6e6e9, #f9f9f9);
$bg-gradient-1: linear-gradient(180deg, #006ef0 0%, #01f8f5 100%);
$bg-gradient-2: linear-gradient(69.89deg, #018abe 9.08%, #45c1cd 81.99%);
